<div class="center mt-3">
  <h1>Hello!</h1>
</div>

<div class="center mt-1">
  <div>
    <button mat-flat-button (click)="toggleLoginForm()" color="primary">Login</button>
    <button mat-flat-button (click)="toggleRegisterForm()" color="accent">Register</button>
    <ng-container *ngIf="isLoginForm">
      <app-login></app-login>
    </ng-container>
    <br/>
    <ng-container *ngIf="isRegisterForm">
      <app-register></app-register>
    </ng-container>
  </div>
  <br/>
</div>

<app-user-details></app-user-details>