<mat-card>
    <mat-card-title>Log me in</mat-card-title>
    <mat-card-content>
        <div class="input-group flex-nowrap input-group-lg">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="off">
                <ng-container *ngIf="hasLoggedIn">
                    <ng-container *ngIf="isUserAuthenticated; else loginFailure">
                        <ng-container *ngTemplateOutlet="loginSuccess"></ng-container> 
                    </ng-container>
                </ng-container>
                <mat-form-field>
                    <input class="form-control" matInput placeholder="Login" formControlName="login" [errorStateMatcher]="matcher" required>
                    <mat-hint>Enter your login</mat-hint>
                    <mat-error *ngIf="loginForm.get('login').hasError('required')">
                        Login is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control"  type="password" matInput placeholder="Password" formControlName="password"
                        [errorStateMatcher]="matcher" required>
                    <mat-hint>Enter your password</mat-hint>
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br />
                <br />
                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #loginSuccess>
    <div class="alert alert-success" role="alert">
        Hello {{currentUser.login}}! Logged correctly.
       </div>
</ng-template>

<ng-template #loginFailure>
    <div class="alert alert-danger" role="alert">
        Unable to login to system!
       </div>
</ng-template>